<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Bottaro Inmobiliaria</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    /* CSS mejorado va aquí */
  </style>
</head>
<body>
  <header class="header">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#" id="Titulo">Bottaro Inmobiliaria</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      </button>
      <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link text-light" href="https://www.zonaprop.com.ar/inmobiliarias/bottaro-propiedades_17036985-inmuebles.html">Propiedades</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="https://www.instagram.com/bottaropropiedades/">Contacto</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link text-light" href="#">Cuenta</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <div class="container" id="center">
    <div class="row" id="categorias">
      <div class="col-md-4" id="columnaIz">
        <div id="columnaIzIn">
          <a href="#propiedades" class="btn btn-primary">TERRENO</a>
          <a href="#Departamentos" class="btn btn-primary">Departamentos</a>
          <a href="#Casas" class="btn btn-primary">Casa</a>
          <a href="#Oficina" class="btn btn-primary">Oficina</a>
          <a href="#Locales" class="btn btn-primary">Locales</a>
        </div>
      </div>
      <div class="col-md-4" id="columnaDer">
        <div id="columnaDerIn">

          <a class="btn btn-primary">Campo</a>
          <a class="btn btn-primary">Cochera</a>
          <a class="btn btn-primary" >Galpón</a>
          <a class="btn btn-primary" href="https://www.google.com/" target="_blank">PH</a>
          <a class="btn btn-primary" href="https://www.google.com/" target="_blank">Depósito</a>
        </div>
      </div>
      </div>
    </div>
    <app-carusel></app-carusel>
   
  <footer>
    <p>✉️ Mail de contacto: bottaropropiedades&#64;hotmail.com
      ☎️ Teléfono: (011) 4222-4765
      Sarmiento 23, Avellaneda 1870

    </p>
  </footer>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
